//Mixins

@mixin box($size: 300px, $color: tomato) {
  width: $size;
  height: $size;
  background-color: $color;
}
.container {
  @include box(200px, red);
  .item {
    @include box(100px, green);
  }
}
.box {
  // @include box(blue); // not available
  @include box(80px, blue);
}