//변수 (variables)

.container {
  $size: 100px; //지역변수
  position: fixed;
  top: $size;
  .item {
    width: $size;
    height: $size;
    transform: translate($size);
  }
}
.box {
  width: $size; //not available
}