//scss 데이터 종류
$number: 1; //.5, 100px, 1em
$string: bold; //relative, "../images/a.png"
$color: red; //blue, #ffff00, rgba(0,0,0,.1)
$boolean: true; //false
$null: null;
$list: orange, royalblue, yellow;
$map: (
  o: orange,
  r: royalblue,
  y: yellow
);
//$list를 통해 반복적으로 출력가능하다.
@each $key, $value in $map {
  .box-#{$key} {
    color: $value;
  }
}